*,
html,
body {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.header {
    background-image: url('../Imagenes/Fondo1.jpg');
    background-size: cover;
    color: white;
    padding: 20px 10px 80px 10px;
}

.logomenu {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.logomenu img {
    position: relative;
    height: 42px;
}

.menu {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
}

.menu div {
    align-self: flex-end;
}

.menu span {
    background-color: #d03b40ed;
    height: 30px;
    width: 30px
}

ul {
    display: none;
}

ul li {
    border: 1px solid black;
    background-color: #d03b40ed;
    padding: 10px;
    list-style-type: none;
}

.header h2 {
    font-size: 44px;
}

.header h2,
.header p {
    margin-top: 30px;
    text-align: center;
}

.header hr {
    margin: auto;
    margin-top: 30px;
}

span {
    font-size: 30px;
}

.disappear {
    right: 0;
    display: block;
    list-style-type: none;
}

.secondHeaderA {
    background-color: #d03b40;
}

.secondHeader {
    padding: 20px 10px;
    text-align: center;
}

.secondHeaderB {
    background-color: #ded6c0;
    color: brown;
}

.secondHeader h2,
.secondHeader p {
    width: 50%;
    margin: auto;
}

.present2 {
    display: flex;
    flex-direction: column;
    background-image: url('../Imagenes/Fondo2.jpg');
    background-size: cover;
    color: white;
    padding: 40px 0;
}

.nuestrosProductos {
    border: 1px solid white;
    margin: 20px auto 0 auto;
    text-align: center;
    width: fit-content;
    padding: 5px 5px;
}

.present2 h2,
.present2 p {
    text-align: center;
    margin: 20px auto 0 auto;
    width: 55%;
}

.present2 hr {
    text-align: center;
    margin: 20px auto 0 auto;
    width: 10%;
}

.pan {
    background-color: #f5f0ed;
    padding: 20px 10px 40px 10px;
}

.pan p {
    text-align: left;
}

.pan h3 {
    border: none;
    font-weight: bold;
    margin-top: 20px;
    font-size: 25px;
}

.pan img {
    margin-left: 33.33%;
    width: 100px;
    height: 100px;
}

.contacto {
    font-size: 24px;
}

.footer {
    background-color: black;
    color: white;
    padding: 40px 10px;
}

.footer p {
    margin: 0;
}

.footer span {
    display: none;
}

@media screen and (min-width: 801px) {
    .container {
        display: flex;
        flex-flow: row wrap;
        max-width: 100%;
    }
    .icono {
        display: none;
    }
    ul {
        display: block;
        list-style-type: none;
    }
    ul li {
        display: inline;
        border: none;
        background-color: inherit;
    }
    .header h2,
    .header p,
    .header hr {
        width: 30%;
        margin: auto;
        margin-top: 30px;
    }
    .second {
        display: flex;
        flex-direction: row;
    }
    .secondHeader {
        width: 100%;
    }
    .secondHeaderA {
        box-sizing: border-box;
        width: 50%;
        height: 100%;
        display: inline-block;
        overflow: hidden;
    }
    .secondHeaderB {
        box-sizing: border-box;
        width: 50%;
        height: 100%;
        display: inline-block;
        overflow: hidden;
    }
    .secondHeader h2,
    .secondHeader p {
        max-width: 50%;
        margin: auto;
    }
    .present2 {
        width: 100%;
    }
    .present2 p {
        width: 25%;
    }
    .present2 hr {
        width: 20%;
    }
    .pan {
        display: flex;
        flex-direction: row;
        box-sizing: border-box;
        width: 50%;
    }
    .pan img,
    .pan div {
        margin: 0 5px;
    }
    .second {
        display: flex;
        flex-direction: row;
    }
    .footer {
        width: 100%;
    }
    .footer br {
        display: none;
    }
    .footer span {
        display: inline;
    }
}